<h1>編集画面</h1>

<%= form_with model: @topic, local: true do |f| %>

<%# エラーメッセージ表示 start %>
<% if @topic.errors.any? %>
    <div id="error_explanation" style="color: red;">
      <h2><%= @topic.errors.count %>件のエラーが発生しました:</h2>
      <ul>
        <% @topic.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<%# エラーメッセージ表示 end %>

  <div>
    <%= f.label :title, "お題のタイトル" %><br>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :description, "説明（任意）" %><br>
    <%= f.text_area :description %>
  </div>

  <h3>選択肢</h3>
  <%= f.fields_for :choices do |choice_form| %>
    <div>
      <%= choice_form.label :content, "選択肢#{choice_form.index + 1}" %>
      <%= choice_form.text_field :content %>
    </div>
  <% end %>

  <div>
    <%= f.submit "修正する" %>
  </div>
<% end %>

<%= link_to "一覧に戻る", topics_path %>