<h1>かまいたちアンケート一覧</h1>

<%= link_to "新しいお題を作る", new_topic_path %>

<% @topics.each do |topic| %>
  <div style="border: 1px solid #ccc; padding: 10px; margin-bottom: 10px;">
    <h2><%= topic.title %></h2>
    <p><%= topic.description %></p>

    <ul>
      <% topic.choices.each do |choice| %>
        <li>
         <%= choice.content %> 
         <%= button_to "投票する", topic_choice_votes_path(topic, choice), method: :post %>
         （現在の票数：<%= choice.votes.count %>）
        </li>
      <% end %>
    </ul>

    <div style="margin-top: 10px; text-align: right;">
      <%= link_to "お題を削除", topic_path(topic), 
                  style: "color: red;",
                  data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" } %>
    </div>

  </div>
<% end %>

